#segment-footer > .container {
  background-color: #005A7A;
}
#segment-header > .container {
  background-color: #ffffff;
}
.navbar-inverse {
  background-color: #005A7A;
}
#hl7-nav {
  line-height: 50px;
  float: left;
  margin-top: 16px;
  color: #808080;
}
#hl7-nav a {
  color: inherit;
}
#hl7-logo {
  float: left;
  margin-left: 6px;
}
#hl7-search {
  line-height: 50px;
  float: right;
  margin-top: 5px;
  color: maroon;
}
#hl7-search a {
  color: inherit;
}
#fhir-nav {
  line-height: 50px;
  float: right;
  margin-top: 10px;
  color: #808080;
}
#fhir-logo {
  float: right;
  margin-left: 6px;
}
#ig-status {
  line-height: 20px;
  margin-top: 15px;
  color: black;
  text-align: center;
  height: 50px;
}
/* 0513 add*/
#family-nav {
  line-height: 50px;
  float: right;
  margin-bottom: 8px;
  margin-top: 8px;
  color: #808080;
}
#ig-status {
  font-size: 24px;
  padding-top: 15px;
  line-height: 20px;
  color: black;
  text-align: center;
  height: 50px;
}
#project-nav {
  line-height: 50px;
  float: left;
  margin-top: 8px;
  margin-bottom: 8px;
  color: #808080;
}
.dropdown-menu li:hover .sub-menu {visibility: visible;}
.dropdown:hover .dropdown-menu {display: block;}

:root {
  --btn-hover-color: #0094a0;
  --btn-gradient-start-color: #0094a0;
  --btn-gradient-end-color: #0094a0;
  --ig-header-container-color: #ffffff;
}


@media only screen and (max-width: 992px) {
  table.colsi {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 992px) {
  table.rwd-table {
    width: 100%;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }
}

@media only screen and (max-width: 992px) {
  p, a {
    word-break: break-all;
  }
}


/* li 編號 */
.bg-warning ol { 
  counter-reset: item 
}
.bg-warning li { 
  display: block 
}
.bg-warning ol > li:before {
  content: counters(item, ".") ". ";
}
.bg-warning li:before { 
  content: counters(item, ".") " "; 
  counter-increment: item; 
}

/*
==================================
JSON/XML/TTL Example Styling Start
==================================
*/

pre.json {
  width: 100%;
  overflow: scroll;
}

pre.xml {
  width: 100%;
  overflow: scroll;
}

pre.rdf {
  width: 100%;
  overflow: scroll;
}

/* 
==================================
JSON/XML/RTL Example Styling End
==================================
*/



/* 
===============================
Liquid Narrative Styling Start
===============================
*/

.narrative-table {
  border: 1pt inset rgb(0, 0, 0);
  line-height: 10pt;
  border-collapse: separate;
  border-spacing: 2px 2px;
}

.narrative-table>tbody {
  display: table-row-group;
  vertical-align: middle;
}

.narrative-table>tbody>tr {
  display: table-row;
  background-color: rgb(252, 251, 251);
  vertical-align: inherit;
}

.narrative-table>tbody>tr>th {
  padding: 5px;
}

.section-header {
  background-color: #005A7A;
  color: rgb(255, 255, 255);
  vertical-align: inherit;
}

.row-header {
  background-color: #005A7A;
  color: rgb(251, 250, 250);
  vertical-align: inherit;
}

.tab-one {
  padding-left: 5px;
}

@media (min-width: 768px) {
  .row-header {
    min-width: 138px;
    max-width: 138px;
  }

  .content-container {
    max-width: 576px;
  }
}

@media (min-width: 992px) {
  .row-header {
    min-width: 181px;
    max-width: 181px;
  }

  .content-container {
    max-width: 745px;
  }
}

@media (min-width: 1100px) {
  .row-header {
    min-width: 213px;
    max-width: 213px;
  }

  .content-container {
    max-width: 873px;
  }
}

/* 
===============================
Liquid Narrative Styling End
===============================
*/
